extends ../layout

block head

block content
    div(class="container")
        h2(class="prepend-top") Saiba mais sobre o Rancho Cinco Estrelas
        hr
        div(class="box")
            | Situado ao pé da serra Pedra Grande (Pico do Itatiaiuçu) em Igarapé – MG, clima tropical de 
            | altitude e vegetação predominantemente de cerrado e relevo montanhoso. Ótima trilha para a 
            | prática de mountain bike, trekking e motocross ou simplesmente curtir alguns dias junto à 
            | natureza. O Rancho 5 estrelas possui infraestrutura com estacionamento próprio, chalés 
            | confortáveis, piscina, sauna, área de jogos e um deliciosa café da manha rodeado da natureza.
            br
            br
            | Localizada a apenas 35 Km de Belo Horizonte, 25 Km de Betim e apenas 17 Km de Inhotim.
            | Local ideal para uma fuga do stress das grandes cidades.
        h2 Gaste pouco. Viva muito.
        hr
        div(class="box")
            b Hospedagem Geral
            ul
                li Entrada a partir das 16hs
                li Saída até as 15hs
                li Incluso café da manha
                li Criança até 5 anos não paga hospedagem
                li Criança de 5 a 12 anos, apenas 50% da hospedagem

            b Pacote Fim de Semana (Casal)
            ul
                li Entrada sexta feira após 16hs
                li Saída domingo até 15hs
                li R$ 300,00  incluso café da manha

            b Diária de Fim de semana (Sexta a Domingo)
            ul
                li R$ 75,00 incluso café da manha

            b Diária Segunda feira a quinta feira
            ul
                li R$ 70,00 incluso café da manha

            b Pernoite
            ul
                li R$ 60,00 incluso café da manha
                li R$ 50,00 sem café da manha

            b Day Use
            ul
                li R$ 50,00  a partir das 8:00hs até as 16:00hs

            b Eventos e festas
            ul
                li Ligue (031) 98239-4079   Capacidade para até 60 pessoas
