extends layout

block head

block content
    div(class="container")
        h2(class="prepend-top") Informe suas credenciais para acessar a area administrativa
        hr
        div(class="box")
            form(id="frm_login" action="/admin/signup" method="post")
                div(class="row")
                    input(type="text" name="username" placeholder="Usuario ou Email" class="span-6 last")
                div(class="row")
                    input(type="password" name="password" placeholder="Senha" class="span-6 last")
                input(type="submit" value="enviar" class="left")