extends ../layout

block head

block content
    div(class="container")
        h2 Saiba como chegar ao rancho
        hr
        div(class="box")
            | Localizada a apenas 35 Km de Belo Horizonte, 25 Km de Betim e apenas 17 Km de Inhotim.
            | Local ideal para uma fuga do stress das grandes cidades.
            br
            br
            <center><iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d119962.77235841531!2d-44.20701422267977!3d-20.01536998463866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d-19.922818799999998!2d-43.936445899999995!4m3!3m2!1d-20.0954423!2d-44.3385679!5e0!3m2!1sen!2sbr!4v1462966174658" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></center>