doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="application-name" content="Website do Rancho Cinco Estrelas")
        meta(name="application-url" content="http://www.ranchocincoestrelas.com.br")
        meta(name="description" content="Pousada Rancho Cinco Estrelas")
        meta(name="keywords" content="pousada,rancho,igarape,hotel,fazenda,piscina,churrasco,sauna,festa")
        link(rel='stylesheet', media="screen", href='/css/screen.css')
        link(rel='stylesheet', media="screen", href='/css/style.css')
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(type="text/javascript" src="/js/jquery.balloon.js")
        script.
            $(document).ready(function () {
                $('#frm_contact').submit(function(event){
                    event.preventDefault();
                    $.post( "/message", $( "#frm_contact" ).serialize(), function(result){
                        if(result && result.error && result.error.errors){
                            var e = result.error.errors;
                            for(var f in e){
                                $('#frm_contact input[name=' + f + ']').showBalloon({ position: 'bottom left', contents:e.name.message });
                                $('#frm_contact input[name=' + f + ']').keydown(function(){
                                    $('#frm_contact input[name=' + f + ']').hideBalloon();
                                });
                            }
                        }
                    }, 'json');
                });
            });
        block head
body
    div(id="header_wrapper")
        header(class="container")
            img(src="img/logo.png" class="span-3 first left"  alt="")
            nav(class="span-18 last right")
                ul(class="right")
                    li
                        a(class="p_text_color" href="/service") Serviços
                    li
                        a(class="p_text_color" href="/reservation") Reservas
                    li
                        a(class="p_text_color" href="/event") Eventos
                    li
                        a(class="p_text_color" href="/gallery") Fotos
                    li
                        a(class="p_text_color" href="/location") Localização
                    li
                        a(class="p_text_color" href="/message") Fale Conosco

    block content

    footer(class="clearfix")
        div(class="container")
            div(class="about span-6")
                h3
                    a(href="/about") Saiba mais sobre o rancho
                hr
                p Localizada a apenas 35 Km de Belo Horizonte, 25 Km de Betim e apenas 17 Km de Inhotim.
                    | Situado ao pé da serra Pedra Grande (Pico do Itatiaiuçu) em Igarapé – MG <br/>
                    | Local ideal para uma fuga do stress das grandes cidades.

            div(id="tweets" class="span-6")
                h3
                    a(href="/news") Últimas notícias
                hr
                div(class="one_tweet")
                    p sit amet orem ipsum dolor sit amet, consetetur sadipscing
                    a(href="#") http://t.co/#####
                    div(class="date") 03 March 2013

                div(class="one_tweet")
                    p sit amet orem ipsum dolor sit amet
                    a(href="#") http://t.co/#####
                    div(class="date") 03 March 2013

            div(id="newsletter" class="span-6")
                h3
                    a(href="/message") Fique informado
                hr
                p Quer ficar por dentro das últimas novidades, promoções e eventos que acontecem no rancho? Assine nosso newsletter.
                form(id="frm_newsletter" action="#" class="clearfix")
                    div(class="newsletter_textfield_wrapper")
                        input(type="text" name="email" placeholder="Digite seu email" class="span-4 eft")
                        input(type="submit" value="ok" width="30%" class="right")

                div(class="social_icons") Siga-nos no: 
                    a(href="https://twitter.com/rancho5estrelas" target="_blank")
                        img(src="img/tweeter.png" alt="")
                    a(href="http://www.facebook.com/ranchocincoestrelas" target="_blank")
                        img(src="img/facebook.png" alt="")
                    a(href="" target="_blank")
                        img(src="img/gplus.png" alt="")

            div(id="footer_form" class="span-6 last clearfix")
                h3
                    a(href="/message") Entre em contato
                hr
                form(id="frm_contact" action="/message" method="post")
                    div(class="row")
                        input(type="text" name="name" placeholder="Diga-nos seu nome" class="span-6 last")
                    div(class="row")
                        input(type="text" name="email" placeholder="e o seu email para contato" class="span-6 last")
                    div(class="row")
                        textarea(name="message"  placeholder="o que você gostaria de dizer?" class="span-6 last")
                    div(class="row")
                        input(type="submit" value="enviar" class="span-6")
            hr
            div(class="copyright_info")
                span(class="left" style="width:500px;") <b>Endereço: <b/> Rua dos Tico-Ticos, 161 Vivendas Santa Mônica / Igarapé - MG <br/> Telefone: 234234234 <br/> Email: r5e.igarape@gmail.com
                span(class="right last") Copyright 2016 by <b> Rancho Cinco Estrelas, all rights reserved <b/>
    block footer