extends ../layout

block head

block content
    div(class="container")
        h2 Saiba um pouco mais sobre os atrativos da região
        hr
        div(class="box")
            | A Pousada Rancho cinco estrelas oferece opções de lazer como sauna, piscina, salão de jogos, 
            | área para churrasco, passeios a cavalo e trekking. 
            br
            br
            | Para os amantes de motocross, a região possui uma desafiadora e bonita trilha, para seu prazer. 
            br
            | O passeio (trekking) na serra da Pedra Grande, é desafiadora, é um dos mais prazerosos, para os amantes do esporte. 
            br
            br
            | Tudo isso bem pertinho de BH e Betim.
            br
            br
            <center><iframe width="640" height="360" src="https://www.youtube.com/embed/7hWIIgAHOU8" frameborder="0" allowfullscreen></iframe></center>