extends ../layout

block head

block content
    div(class="container")
        h2(class="prepend-top") Saiba mais sobre o Rancho Cinco Estrelas
        hr
        div(class="box")
            | Situado ao pé da serra Pedra Grande (Pico do Itatiaiuçu) em Igarapé – MG, clima tropical de 
            | altitude e vegetação predominantemente de cerrado e relevo montanhoso. Ótima trilha para a 
            | prática de mountain bike, trekking e motocross ou simplesmente curtir alguns dias junto à 
            | natureza. O Rancho 5 estrelas possui infraestrutura com estacionamento próprio, chalés 
            | confortáveis, piscina, sauna, área de jogos e um deliciosa café da manha rodeado da natureza.
            br
            br
            | Localizada a apenas 35 Km de Belo Horizonte, 25 Km de Betim e apenas 17 Km de Inhotim.
            | Local ideal para uma fuga do stress das grandes cidades.
        h2 Saiba um pouco mais sobre os atrativos da região
        hr
        div(class="box")
            | A Pousada Rancho cinco estrelas oferece opções de lazer como sauna, piscina, salão de jogos, 
            | área para churrasco, passeios a cavalo e trekking. 
            br
            br
            | Para os amantes de motocross, a região possui uma desafiadora e bonita trilha, para seu prazer. 
            br
            | O passeio (trekking) na serra da Pedra Grande, é desafiadora, é um dos mais prazerosos, para os amantes do esporte. 
            br
            br
            | Tudo isso bem pertinho de BH e Betim.
            br
            br
            <center><iframe width="640" height="360" src="https://www.youtube.com/embed/7hWIIgAHOU8" frameborder="0" allowfullscreen></iframe></center>
