extends ../layout

block head

block content
    div(class="container")
        h2 Saiba um pouco mais sobre a cidade de Igarapé
        hr
        div(class="box")
            | Origem do Nome: Em 1938 o Barreiro foi elevado à vila de nome Igarapé. O nome foi sugerido
            | pela então esposa do governador de Minas Gerais, Dona Odete Valadares. Passando pela 
            | cidade, ela notou a existência de vários córregos, semelhantes aos igarapés existentes no 
            | Amazonas. Igarapé, palavra tupi-guarani, que significa caminho da canoa.
            br
            br
            | Localizado na região sudeste da zona metalúrgica, nas proximidades do paralelo 20º sul e 43º 
            | oeste, tem, como ponto mais alto, Pico do Itatiaiuçu, a 1 434 metros de altitude e como ponto 
            | mais baixo a Foz Córrego Gavião, a 819 metros de altitude.
            br
            br
            ul
                li <b>Área: 110,08</b>
                li 
                    <b>Distâncias aproximadas aos principais centros em quilômetros:</b>
                    ul
                        li Belo Horizonte: 35
                        li Rio de Janeiro: 465
                        li São Paulo: 545
                        li Brasília: 785
                        li Vitória: 570
                li 
                    <b>O município limita-se com os seguintes municípios:</b>
                    ul
                        li Ao sul - São Joaquim de Bicas, Brumadinho e Itatiaiuçu.
                        li Ao norte - Juatuba e Betim.
                        li A oeste - Mateus Leme.
                        li A leste - São Joaquim de Bicas.
        
        div(class="box")
            h6 Fontes: <br/>
            a(href="http://www.igarape.mg.gov.br" target="_blank") http://www.igarape.mg.gov.br<br/>
            a(href="https://pt.wikipedia.org/wiki/Igarapé_(Minas_Gerais)" target="_blank") https://pt.wikipedia.org/wiki/Igarapé_(Minas_Gerais)<br/>
            a(href="http://www.igarapemg.com.br" target="_blank") http://www.igarapemg.com.br