extends ../layout

block head

block content
    div(class="container")
        h2(class="prepend-top") Saiba mais sobre o Rancho Cinco Estrelas
        hr
        div(class="box")
            | Situado ao pé da serra Pedra Grande (Pico do Itatiaiuçu) em Igarapé – MG, clima tropical de 
            | altitude e vegetação predominantemente de cerrado e relevo montanhoso. Ótima trilha para a 
            | prática de mountain bike, trekking e motocross ou simplesmente curtir alguns dias junto à 
            | natureza. O Rancho 5 estrelas possui infraestrutura com estacionamento próprio, chalés 
            | confortáveis, piscina, sauna, área de jogos e um deliciosa café da manha rodeado da natureza.
            br
            br
            | Localizada a apenas 35 Km de Belo Horizonte, 25 Km de Betim e apenas 17 Km de Inhotim.
            | Local ideal para uma fuga do stress das grandes cidades.